.add__todo {
    display: flex;
    margin-bottom: 20px;
}
.add__input {
    width: 0;
    flex-grow: 1;
    margin-right: 15px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.add__button {
    width: 70px;
    border-radius: 5px;
    background-color: #DEB887;
    font-weight: bold;
}