.App {
    max-width: 600px;
    min-height: calc(100vh - 40px);
    background-color: #2e5555;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}
.heading {
    color: white;
    font-weight: 400;
    font-size: 20px;
}
header {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .App {
        margin: 20px;
    }
}

@media screen and (max-width: 500px) {
    .App {
        margin: 0px;
        border-radius: 0;
        min-height: 100vh;
        padding: 15px;
    }
}

