.App {
    max-width: 600px;
    min-height: 90vh;
    background-color: #2e5555;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}
.heading {
    color: white;
    font-weight: 400;
}
header {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .App {
        margin: 20px;
    }
}